<ion-view title="Contato" id="page9" style="background-color:#EFFBFB;">
    <ion-content padding="true" class="has-header">
        <div class="button-bar">
            <a href="#" onclick="window.open('https://www.facebook.com/EtecDRC', '_system', 'location=yes'); return false;" id="contato-button24" style="font-style:italic;border-radius:28px 28px 28px 28px;" class="button button-positive  button-block icon ion-social-facebook"></a>
            <a href="#" onclick="window.open('https://www.youtube.com/user/etecdrc', '_system', 'location=yes'); return false;" id="contato-button25" style="font-style:italic;border-radius:28px 28px 28px 28px;" class="button button-assertive  button-block icon ion-social-youtube"></a>
            <a href="#" onclick="window.open('https://www.linkedin.com/', '_system', 'location=yes'); return false;" id="contato-button26" style="font-style:italic;border-radius:28px 28px 28px 28px;" class="button button-calm  button-block icon ion-social-linkedin"></a>
        </div>
    </ion-content>
</ion-view>