<ion-view title="Detalhes" id="page8" style="background-color:#EFFBFB;">
    <ion-content padding="true" class="has-header">
        <div id="detalhes-markdown3" style="color:#000000;">
            <p>A ETEC Doutora Ruth Cardoso iniciou suas atividades como Classes Descentralizadas da ETEC Dona Escolástica Rosa, o anúncio de sua implantação foi feito em fevereiro de 2008 pelo Governador José Serra em uma visita à região da Baixada Santista.</p>

            <p>Em junho de 2008 a cessão oficial do prédio para implantação do prédio que passou por reformas para instalar a ETEC “Doutora Ruth Cardoso”; no dia 24/07/2008 aconteceu a aula inaugural da Unidade para duas habilitações técnicas de nível médio:
                Edificações e Informática.</p>

            <p>Em setembro de 2008 a ETEC de São Vicente, teve seu ato de criação decreto nº. 53.461, publicado no DOE de 20/09/2008, Seção I, página 3. No entanto em 18/12/2008 o Governador do Estado de São Paulo José Serra inaugurou oficialmente a unidade,
                sendo a ETEC de São Vicente a 8ª unidade do Centro Estadual de Educação Tecnológica Paula Souza na Baixada Santista.</p>

            <p>Em fevereiro de 2009 a ETEC de São Vicente implantou o Ensino Médio com 02 (duas) classes e 80 (oitenta) alunos.</p>

            <p>Em outubro de 2009 através da Lei 13770 de 21/10/2009 publica em DOE em 22/10/2010 a ETEC de São Vicente passa a chamar-se ETEC “Doutora Ruth Cardoso”. No 2º semestre de 2010 iniciou-se a implantação da Classe Descentralizada na EE Enio Vilas
                Boas com a oferta dos cursos técnicos na área de gestão.</p>

            <p>Cronologia:</p>

            <p>1893 – Um grupo de prestantes cidadãos, em sua grande maioria maçons respeitáveis pertencentes à loja “Fraternindade” de Santos, se reúne para fundar a “Escola do Povo”, de São Vicente. Um dos seus nobres objetivos é construir uma escola laica
                para crianças pobres.</p>

            <p>1913 – A Escola do Povo, construída por subscrições populares, acha-se, agora, sob tutela do Estado, que resolve ampliá-la, construindo um novo prédio. Nessa oportunidade o governo deseja reunir as escolas públicas isoladas em um único estabelecimento:
                Primeiro Grupo Escolar de São Vicente.</p>

            <p>1947 – O interventor Federal de São Paulo dá a denominação de “Grupo Escolar Capitão Gonçalo Monteiro” para homenagear o primeiro Vigário e Capitão Mor, nomeado por Martim Afonso, na Capitania de São Vicente. 1949 – O Governo do Estado torna
                a mudar a denominação para “Grupo Escolar de São Vicente”.</p>

            <p>1963 – Jubileu de Ouro dos 50 anos de serviços prestados à comunidade.</p>

            <p>1979 – O Estado muda mais uma vez a denominação, agora para Escola Estadual de Primeiro Grau Profª Zina de Castro Bicudo”, conhecida como “Grupão”.</p>

            <p>1985 – A Escola passou a oferecer também o segundo grau.</p>

            <p>2001 – A Escola é desativada, passando a ser ocupada pela Diretoria Regional de Ensino.</p>

            <p>2008 – O Governo de Estado em parceria com a Prefeitura Municipal de São Vicente e o Centro Paula Souza, implantam a Escola Técnica Estadual de São Vicente.</p>

            <p>2009 – A ETEC de São Vicente, através da lei N.º 13.770 de 21 de outubro, recebe a denominação de ETEC Doutora Ruth Cardoso.</p>

            <p>PLANO PLURIANUAL DE GESTÃO – PPG</p>

            <p>PPG 2014 – 2018</p>

            <p>PPG 2015 – 2019</p>
        </div>
        <div class="button-bar">
            <a href="#" onclick="window.open('https://www.facebook.com/EtecDRC', '_system', 'location=yes'); return false;" id="detalhes-button21" style="font-style:italic;border-radius:28px 28px 28px 28px;" class="button button-positive  button-block icon ion-social-facebook"></a>
            <a href="#" onclick="window.open('https://www.youtube.com/user/etecdrc', '_system', 'location=yes'); return false;" id="detalhes-button22" style="font-style:italic;border-radius:28px 28px 28px 28px;" class="button button-assertive  button-block icon ion-social-youtube"></a>
            <a href="#" onclick="window.open('https://www.linkedin.com/', '_system', 'location=yes'); return false;" id="detalhes-button23" style="font-style:italic;border-radius:28px 28px 28px 28px;" class="button button-calm  button-block icon ion-social-linkedin"></a>
        </div>
    </ion-content>
</ion-view>