<ion-view title="Locais" id="page3">
    <ion-content padding="true" class="has-header">
        <h1 id="locais-heading1" style="color:#000000;">Cloud</h1>
        <div id="locais-markdown1" style="color:#000000;">
            <p>O que é o
                <strong>Cloud Azure?</strong>para o que ele serve?</p>
        </div>
        <div class="button-bar"></div>
        <form class="list">
            <label class="item item-input" name="Oi?">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Locais">
            </label>
            <ion-item class="item-thumbnail-left">
                <img src="img/OrAA5G8RWO3GNvY5v61C_123(1).jpg">
                <h2>Mc.D.</h2>
                <p>Descrição Inicial</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Burguer King</h2>
                <p>Descrição inicial</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Title</h2>
                <p>Item</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Title</h2>
                <p>Item</p>
            </ion-item>
        </form>
    </ion-content>
</ion-view>